body {
  margin: 0;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.top-pane {
  background-color: rgb(71, 71, 71);
  display: flex;
  justify-content: space-between;
}

.pane {
  height: 50vh;
  display: flex;
}

.editor-container {
  /* width: 38vh; */
  flex-grow: 1;
  flex-basis: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: rgb(71, 71, 71);
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
  /* overflow: hidden => removes the scrollbar when the editor collapses */
}

.editor-title {
  color: #aaaebc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.expand-collapse-btn {
  margin: 0.5rem;
  background: none;
  border: 2px solid grey;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* overwrite the styles of CodeMirror so that we add our own styles */
.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
  font-size: 1.3rem;
}
